:root{
    --cor-fonte: #FFFFFF;
    --cor-btn: #000000;
    --cor-destaque: #04F06A;
}

span{
    color: var(--cor-destaque);
}

.cursive{
    font-family: 'Caveat';
    font-weight: bold;
    font-size: 18px;
}

.btn{
    display: inline-block;
    font-size: 21px;
    background-color: var(--cor-destaque);
    color: var(--cor-btn);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.4s;
}

.btn:hover{
    transform: scale(1.08);
}

body{
    font-family: 'Poppins';
    color: var(--cor-fonte);
}

menu{
    font-family: 'Caveat';
    display: flex;
    justify-content: center;
    align-items: center;

    & ul li{
        display: inline-block;
        font-size: 29px;
        padding-top: 13px;
        padding-left: 52px;
    }
    & ul li a{
        color: var(--cor-fonte);
        font-weight: bold;
        text-decoration: none;
        transition: 0.4s;
    }
    & ul li a:hover{
        color: var(--cor-destaque);
    }
}

#principal{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 44px;
    gap: 129px;

    & h2{
        font-size: 16px;
        font-weight: lighter;
    }
    & h1{
        font-size: 83px;
        font-weight: 500;
    }
    & p{
        padding: 20px 0;
        font-size: 21px;
    }
}