*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --cor-bg: #000000;
    --cor-fonte: #FFFFFF;
    --cor-btn: #000000;
    --cor-destaque: #04F06A;
    --fundo-container: #1A1A1D;
}

.light{
    --cor-bg: #FFFFFF;
    --cor-fonte: #000000;
    --cor-destaque: #04F06A;
    --fundo-container: #1A1A1D;
    --cor-container: #FFFFFF;
}

span {
    color: var(--cor-destaque);
    font-family: 'Caveat';
    font-weight: bold;
}

.cursive {
    font-family: 'Caveat';
    font-weight: bold;
    font-size: 18px;
}

.btna {
    display: inline-block;
    font-size: 15px;
    background-color: var(--cor-destaque);
    color: var(--cor-btn);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.4s;
}

.btna:hover {
    transform: scale(1.08);
}

.flex {
    display: flex;
}

.title {
    font-size: 50px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    padding: 20px;
}

.redes {
    padding-top: 10px;
}

.icon {
    color: var(--cor-fonte);
    font-size: 25px;
    padding: 5px;
    transition: 0.4s;
}

.icon:hover {
    color: var(--cor-destaque);
}

body {
    font-family: 'Poppins';
    color: var(--cor-fonte);
    background-color: var(--cor-bg);
}

menu {
    font-family: 'Caveat';

    & ul li {
        display: inline-block;
        font-size: 29px;
        padding-top: 13px;
        padding-left: 52px;
    }

    & ul li a {
        color: var(--cor-fonte);
        font-weight: bold;
        text-decoration: none;
        transition: 0.4s;
    }

    & ul li a:hover {
        color: var(--cor-destaque);
    }
}

menu .flex{
    justify-content: center;
    align-items: center;
}

section#principal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 44px;
    gap: 129px;

    & h2 {
        font-size: 16px;
        font-weight: 400;
    }

    & h1 {
        font-size: 83px;
        font-weight: 500;
    }

    & p {
        padding: 20px 0;
        font-size: 21px;
    }
}

#skills .flex {
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 39px;
}

.skill {
    background-color: var(--fundo-container);
    color: var(--cor-container);
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;

    & p {
        font-size: 38px;
    }

    & img {
        width: 91px;
    }
}

.skill:hover {
    transform: scale(1.10);
}

#projetos {
    padding: 40px 4%;
}

#projetos .flex {
    justify-content: center;
    align-items: center;
    gap: 23px;
}

.box {
    height: 480px;
    width: 400px;
    background-color: var(--fundo-container);
    color: var(--cor-container);
    border-radius: 10px;
    padding: 20px;
}

.tela {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 355px;
    border-radius: 10px;
    transition: 0.4s;

    & .tela:hover {
        transform: scale(1.07);
    }

    & h1 {
        padding-top: 17px;
        font-size: 30px;
        font-weight: 500;
    }

    & p {
        font-size: 15px;
        padding-bottom: 18px;
    }

    & a {
        font-size: 21px;
        margin-left: 22px;
    }
}

#contato .flex {
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
    margin-bottom: 20px;

    & button {
        border-radius: 30px;
        background-color: var(--cor-destaque);
        height: 40px;
        border: none;
        font-weight: bold;
        cursor: pointer;
        font-size: 14px;
    }

    & button:hover {
        opacity: 0.8;
    }

    & input {
        border: 1px solid var(--cor-fonte);
        border-radius: 30px;
        height: 40px;
        color: var(--cor-fonte);
        background-color: var(--fundo-container);
        font-size: 16px;
        padding-left: 10px;
        outline: none;
    }
}

footer{
    padding: 20px;
}

footer .flex{
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    menu{
        display: none;
    }
    section#principal{
        text-align: center;
        flex-direction: column;

        & img{
            display: none;
        }

        & h2 {
            font-size: 20px;
            font-weight: lighter;
        }
    
        & h1 {
            font-size: 90px;
            font-weight: 500;
        }
    
        & p {
            padding: 20px 0;
            font-size: 21px;
        }
    }
    #skills .flex{
        flex-wrap: wrap;
    }
    #projetos .flex{
        flex-direction: column;
    }
    .box{
        height: 460px;
        width: 300px;
        border-radius: 10px;
        padding: 10px;
    }
    .tela {
        height: 200px;
        width: 280px;

        & .tela:hover{
            transform: scale(1.04);
        }
    
        & h1 {
            padding-top: 17px;
            font-size: 30px;
            font-weight: 500;
        }
    
        & p {
            font-size: 15px;
            padding-bottom: 18px;
        }
    
        & a {
            font-size: 15px;
            margin-left: 22px;
        }
    }
    footer .flex{
        flex-direction: column;
        text-align: center;
    }
}